# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Aaron Tye (atye)
# Aly Nathoo (anathoodell)
# Chiman Jain (chimanjain)
# Evgeny Uglov (EvgenyUglov)
# Harish H  (HarishH-DELL)
# Nitesh Rewatkar (nitesh3108)
# Oleksandr babiychuk (alexemc)
# Rajendra Indukuri (rajendraindukuri)
# Shayna Finocchiaro (shaynafinocchiaro)
# Spandita Panigrahi (panigs7)

# for all files:
* @atye @anathoodell @chimanjain @EvgenyUglov @HarishH-DELL @nitesh3108 @alexemc @rajendraindukuri @shaynafinocchiaro @panigs7
